{% extends "flights/layout.html" %} 
{% block body %}
    <h1>Sur</h1>
    <p>
        Era una isla alejada a unos 100km de chile en el pasifico  por lo que una ves que llegamos fuimos a buscar un lugar donde acampar, habia bastantes teerremotos leves ya que estabamos en el arco de furgo o algo asi. Por lo que en unaa oportunidad se callo parte del techo de un galpon que habia ahi abandonado. Demoramos bastante haci que a la <a href="tarde.html">Tarde</a>__ <a href="noche.html">Noche</a> Terminamos de bajar tdo del barco
</body>
</html>
{% endblock %}