{% extends "flights/layout.html" %} 
{% block body %}
    <h1>Individuo</h1>
    <p>Asi que habrimos unas cortinas para ver mejor, eran un asco estaban llenas de tela de aranas y bichos.

        AL iluminarlo con una interna que tenia jose, no el del camping si no un comanero, vimos que estaba media palida y decaida la persona asi que saamos unaa traba que habia en la puerta de madea, aunque esa traba no tenia sentido ya que la puerta estabamuy echada a perder por lo que si se tocaba mucho se desrmaba, era un asco.
        al habrirl la persona/el individu paso  y nos conto que habia visto algo en el bosque, al parecer estaba con u gruo de casadores que vinieron en lancha hasta la isla. Tambien nos digo antes de desmallarse que habian sido atacados por un zombi. Cuando callo desmallado dos companeros fueron a lamar a los encargados, mietras que los otros
        nos quedamos hablando sobre el tema y pensamos que estaba drogado. Aunque al venir los otros dijieron qque no encontraron a los tutores y nos preocupamos bastanta. Igual no se para que escribo esto ya que somos los unicos sobrevivientes.   
    </p>
{% endblock %}